{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% set headerh1 = 'Connexion' %}
{% set headerh5 = 'Connectez-vous pour avoir accès aux fonctionnalité d\'emprunt et de gestion de livres.' %}


{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section class="container">

            {# si l'utilisateur est déjà connecté #}
            {% if app.user %}
                <div class="notification is-info">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            {# si une erreur survient #}
            {% if error %}
                <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# formulaire de connexion #}
            <form method="post" id="hpLogin">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <input class="input" type="email" value="{{ last_username }}" name="loginEmail" id="inputEmail" placeholder="Identifiant" required autofocus>
                </div>

                <div class="form-group">
                    <input class="input" type="password" name="loginPassword" id="inputPassword" placeholder ="Mot de passe" required>
                </div>

                {# un champ caché pour la protection des failles CSRF #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" class="btn btn-primary" role="button" value="Connexion">
            </form>
            
            
            
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}
