{% extends 'base.html.twig' %}

{% block title %}{{livre.titre}}{% endblock %}
{% set headerh1 = livre.titre %}
{% set layoutHeader2 = true %}
{% set pageType = 'Livre' %}

{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section id="detailsLivre" class="container">
            <div class="row">
                <div class="col col-12 col-sm-4">
                    <img src="{{ asset('build/images/' ~ livre.urlCouverture) }}"  id="imageUne" alt="Couverture {{livre.titre}}">
                </div>
                <div class="col col-12 col-sm-8">
                    <h4>Auteur : 
                        {# affichage du nom et prenom des l'auteurs si le prenom est défini #}
                        {% for auteur in livre.auteurs %}
                            {% if auteur.prenom is defined %}{{auteur.prenom}} {% endif %}{{auteur.nom}}{% if livre.auteurs|length > 1 %},{% endif %}
                        {% endfor %}
                    </h4>
                    <p class="card-text"><b>Catégorie</b> : 
                        {% for categorie in livre.categories %}
                            {{categorie.nom}}
                        {% endfor %}
                    </p>
                    <p>{{livre.description}}</p>
                    
                    {# affichage des liens vers les fiches des auteurs #}
                    {% if livre.auteurs|length == 1 %}
                        {% for auteur in livre.auteurs %}
                            <p><a href="/auteur/{{auteur.id}}" class="btn btn-primary">Fiche de l'auteur</a></p>
                        {% endfor %}
                    {% else %}
                        <p>
                            {% for auteur in livre.auteurs %}
                                <a href="/auteur/{{auteur.id}}" class="btn btn-primary">Fiche de l'auteur 
                                {% if auteur.prenom is defined %}{{auteur.prenom}} {% endif %}{{auteur.nom}}</a>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {# dans le cas ou l'utilisateur est confirmé #}
                    {% if is_granted("ROLE_USER") %}
                        {# affichage du bouton d'emprunt du livre #}
                        {% if livre.estDisponible %}
                            <p><a href="/compte/emprunter/{{livre.id}}" class="btn btn-primary">Emprunter</a></p>
                        {% endif %}

                        {# form de propriété a afficher seulement lorsque le user est #}
                        {% if current_user is null %}
                        {% else %}
                            {% if propriete_user %}
                                <small class="form-text text-muted">Vous êtes propriétaire de ce livre</small>
                            {% else %}
                                {{ form_start(propriete_form) }}
                                    <input type="submit" class="btn btn-success" value="Je possède aussi ce livre">
                                {{ form_end(propriete_form) }}
                            {% endif %}
                        {% endif %}

                        {# messages d'erreur liés au form de propriete #}
                        {% for message in app.flashes('success') %}
                            <div class="alert-container">
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert-container">
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}

                    <small class="form-text text-muted">Ajouté à Bouquins le {{ livre.dateAjout|date("d/m/Y") }}</small>

                </div>
            </div>
        </section>
        
        <section class="container">
            <h2>Du même auteur</h2>
        </section>
        <section>
            <div class="containerParallax">
                <div id="duMemeAuteurBg" class="parallaxElement parallaxBack">
                </div>
                <div class="parallaxElement parallaxBase">
                    <div class="container">
                        <div class="card-deck">

                            {# pour chaque auteur du livre#}
                            {% for auteur in livre.auteurs %}

                                {# pour chaque livre de l'auteur #}
                                {% for livre in auteur.livres %}

                                    {% include "layout/cardLivre.html.twig" %}

                                {% endfor %}

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}