{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% set headerh1 = 'Contactez Bouquins' %}
{% set pageType = 'GestionCompte' %}

{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(contact_form) }}
                    {{ form_widget(contact_form) }}
                    <input type="submit" class="btn btn-primary" value="Envoyer">
                {{ form_end(contact_form) }}
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}
