<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Bouquins</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;600&display=swap" rel="stylesheet">
        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {# id body généré par page + titre de la page sans espaces #}
    <body   {% if pageClass is defined %}
                id={{ "page" ~ pageClass }}
            {% else %}
                id={{ "page" ~ block('title')|replace({' ': ''}) }}
            {% endif %}
    >
        <div class="containerParallax">
            <div id="headerBg" 
                {# si la var pageType est définie sur le template de page #}
                {% if pageType is defined %}
                    class="pageLivre parallaxElement parallaxBack"

                    {# si la page est une page Livre #}
                    {% if pageType == 'Livre' %}
                        style="background-image: linear-gradient(to right, rgba(41,39,38,0.667), rgba(41,39,38,0.667)),url('{{ asset('build/images/' ~ livre.urlCouverture) }}');"
                    {% endif %}

                    {# si la page est une page Auteur #}
                    {% if pageType == 'Auteur' %}
                        style="background-image: linear-gradient(to right, rgba(41,39,38,0.667), rgba(41,39,38,0.667)),url('{{ asset('build/images/' ~ auteur.urlPhoto) }}');"
                    {% endif %}

                    {# si la page est une page Catégorie #}
                    {% if pageType == 'Categorie' %}
                        style="background-image: linear-gradient(to right, rgba(41,39,38,0.667), rgba(41,39,38,0.667)),url('{{ asset('build/images/' ~ categorie.urlIllustration) }}');"
                    {% endif %}

                    {# si la page est une page de gestion du compte #}
                    {% if pageType == 'GestionCompte' %}
                        style="background-image: linear-gradient(to right, rgba(41,39,38,0.667), rgba(41,39,38,0.667)),url('{{ asset('build/images/henry-be--Pg63JThyCg-unsplash.jpg') }}');"
                    {% endif %}

                {# sinon pour les pages classiques #}s
                {% else %}
                    class="parallaxElement parallaxBack"
                {% endif %}
            >
            </div>
            <div class="parallaxElement parallaxBase">
                {% block body %}
                    {# elements templates pages #}
                {% endblock %}

                {% block js %}
                    {{ encore_entry_script_tags('app') }}
                {% endblock %}
            </div>
        </div>
        <!-- Yarn react -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    </body>
</html>
