{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% set headerh1 = 'Les livres' %}
{% set headerh5 = 'Cette page regroupe liste tous les livres actuellement disponibles à l\'emprunt.' %}
{% set headerp = 'Vous avez un nouveau livre? Ajoutez-le ici : ' %}
{% set headerbtntext = 'Ajouter un livre' %}
{% set headerbtnlink = '/ajout/livre' %}
{% block body %}


{% include './layout/header.html.twig' %}


<main id="react-livres">
    <section class="container">
        <h2>Tous les livres : </h2>
        <form class="recherche-livres">
            <div class="form-group">
                <input type="text" class="form-control" id="recherche" placeholder="Recherche" />
            </div>
        </form>
    </section>
    <section>
        <div class="containerParallax">
            <div id="livresBg" class="parallaxElement parallaxBack">
            </div>
            <div class="parallaxElement parallaxBase">
                <div class="container">
        
                    <div class="card-deck">
                        {% for livre in liste_livres %}
                            <div class="card mb-4">
                                <div class="card-img-container">
                                    <a href="/livre/{{livre.id}}">
                                        <img class="card-img-top" src="{{ asset('build/images/' ~ livre.urlCouverture) }}" alt="Couverture {{livre.titre}}">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{livre.titre}}</h5>
                                    
                                    <p class="card-text">
                                    <b>Auteur</b> : 
                                    {% for auteur in livre.auteurs %}
                                        {% if auteur.prenom %}{{auteur.prenom}} {% endif %}{{auteur.nom}}
                                    {% endfor %}
                                    </p>
                                    <p class="card-text"><b>Catégorie</b> : 
                                        {% for categorie in livre.categories %}
                                            {{categorie.nom}}
                                        {% endfor %}
                                    </p>
                                    <a href="/livre/{{livre.id}}" class="btn btn-primary">Détails</a>
                                    <a href="/livre/{{livre.id}}" class="btn btn-primary">Emprunter</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Ajouté à Bouquins le {{ livre.dateAjout|date("d/m/Y") }}</small>
                                </div>
                            </div>
                        {% endfor %}
                        
                        <div class="paginationElementLoader"><button class="btn btn-primary">Charger plus de livres</button></div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>
{% include './layout/footer.html.twig' %}
{% endblock %}