{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre à ma liste{% endblock %}
{% set headerh1 = 'Ajouter un livre à ma liste' %}
{% set pageType = 'GestionCompte' %}

{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section class="container">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <h5>Recherche par ISBN</h5>
                    <form class="form-inline formRechercheAPI" id="rechercheolisbn">
                        <input type="text" name="rechercheisbn" id="rechercheisbn" class="form-control mr-sm-2">
                        <input type="submit" class="btn btn-primary" value="Envoyer">
                    </form>
                </div>
                <div class="col col-12 col-md-6">
                    <h5>Recherche par titre de livre</h5>
                    <form class="form-inline formRechercheAPI" id="rechercheoltitre">
                        <input type="text" name="recherchetitre" id="recherchetitre" class="form-control mr-sm-2">
                        <input type="submit" class="btn btn-primary" value="Envoyer">
                    </form>
                </div>
            </div>
        </section>

        {# Containers de chargement des resultats de recherche #}
        <section class="container" id="resultatsOpenLibrary">
            <ul class="liste-resultats-titre"><li class="resultatlivre" data-resultat-livre="0"><img src="https://covers.openlibrary.org/b/id/6525465-S.jpg" alt="couverture Leviathan"><p>Leviathan - Thomas Hobbes </p></li><li class="resultatlivre" data-resultat-livre="1"><img src="https://covers.openlibrary.org/b/id/3992233-S.jpg" alt="couverture Leviathan"><p>Leviathan - Paul Auster </p></li><li class="resultatlivre" data-resultat-livre="2"><img src="https://covers.openlibrary.org/b/id/8819882-S.jpg" alt="couverture Leviathan"><p>Leviathan - Thomas Hobbes </p></li><li class="resultatlivre" data-resultat-livre="3"><img src="https://covers.openlibrary.org/b/id/1727140-S.jpg" alt="couverture Leviathan"><p>Leviathan - Eric Jay Dolin </p></li><li class="resultatlivre" data-resultat-livre="4"><img src="https://covers.openlibrary.org/b/id/10228842-S.jpg" alt="couverture Leviathan"><p>Leviathan - Thomas Hobbes </p></li><li class="resultatlivre" data-resultat-livre="5"><img src="https://covers.openlibrary.org/b/id/undefined-S.jpg" alt="couverture Leviathan"><p>Leviathan - Arno Schmidt </p></li><li class="resultatlivre" data-resultat-livre="6"><img src="https://covers.openlibrary.org/b/id/9048760-S.jpg" alt="couverture Leviathan"><p>Leviathan - Paul Auster </p></li><li class="resultatlivre" data-resultat-livre="7"><img src="https://covers.openlibrary.org/b/id/undefined-S.jpg" alt="couverture Leviathans"><p>Leviathans - Alfred D. Chandler Bruce Mazlish </p></li><li class="resultatlivre" data-resultat-livre="8"><img src="https://covers.openlibrary.org/b/id/990035-S.jpg" alt="couverture Leviathan"><p>Leviathan - Jens Harder </p></li><li class="resultatlivre" data-resultat-livre="9"><img src="https://covers.openlibrary.org/b/id/2131926-S.jpg" alt="couverture Leviathan"><p>Leviathan - Thomas Hobbes </p></li></ul>
        </section>

        <section class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(livre_form) }}
                {{ form_widget(livre_form) }}
                <input type="submit" class="btn btn-primary" value="Ajouter un livre">
            {{ form_end(livre_form) }}
        </section>

        <section class="container">
            <p>Si l'auteur ou la catégorie que vous cherchez n'apparaissent pas dans leurs listes respectives, vous pouvez les ajouter ici :</p>
            <a href="/ajout/auteur" class="btn btn-primary">Ajouter un auteur</a>
            <a href="/ajout/categorie" class="btn btn-primary">Ajouter une catégorie</a>
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}
