{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre à ma liste{% endblock %}
{% set headerh1 = 'Ajouter un livre à ma liste' %}
{% set pageType = 'GestionCompte' %}

{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section class="container">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <h5>Recherche par ISBN</h5>
                    <form class="form-inline formRechercheAPI" id="rechercheolisbn">
                        <input type="text" name="rechercheisbn" id="rechercheisbn" class="form-control mr-sm-2">
                        <input type="submit" class="btn btn-primary" value="Envoyer">
                    </form>
                </div>
                <div class="col col-12 col-md-6">
                    <h5>Recherche par titre de livre</h5>
                    <form class="form-inline formRechercheAPI" id="rechercheoltitre">
                        <input type="text" name="recherchetitre" id="recherchetitre" class="form-control mr-sm-2">
                        <input type="submit" class="btn btn-primary" value="Envoyer">
                    </form>
                </div>
            </div>
        </section>

        {# Containers de chargement des resultats de recherche #}
        <section class="container" id="resultatsOpenLibrary">
        </section>

        <section class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <h5>Creation du livre</h5>
            {{ form_start(livre_form) }}
                {{ form_widget(livre_form) }}
                <input type="submit" class="btn btn-primary" value="Ajouter un livre">
            {{ form_end(livre_form) }}
        </section>

        <section class="container">
            <p>Si l'auteur ou la catégorie que vous cherchez n'apparaissent pas dans leurs listes respectives, vous pouvez les ajouter ici :</p>
            <a href="/ajout/auteur" class="btn btn-primary">Ajouter un auteur</a>
            <a href="/ajout/categorie" class="btn btn-primary">Ajouter une catégorie</a>
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}
