{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre à ma liste{% endblock %}
{% set headerh1 = 'Ajouter un livre à ma liste' %}
{% set pageType = 'GestionCompte' %}

{% block body %}

{% include './layout/header.html.twig' %}
    <main>
        <section class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}


                {{ form_start(livre_form) }}
                    {{ form_widget(livre_form) }}
                    <input type="submit" class="btn btn-primary" value="Ajouter un livre">
                {{ form_end(livre_form) }}
        </section>

        <section class="container">
            <p>Si l'auteur ou la catégorie que vous cherchez n'apparaissent pas dans leurs listes respectives, vous pouvez les ajouter ici :</p>
            <a href="/ajout/auteur" class="btn btn-primary">Ajouter un auteur</a>
            <a href="/ajout/categorie" class="btn btn-primary">Ajouter une catégorie</a>
        </section>
    </main>
{% include './layout/footer.html.twig' %}
{% endblock %}
