<div class="card mb-4">
    <div class="card-img-container">
        <a href="/livre/{{livre.id}}">
            <img class="card-img-top"src="{{ asset('build/images/' ~ livre.urlCouverture) }}" alt="Couverture {{livre.titre}}">
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{livre.titre}}</h5>
        <p class="card-text">
        <b>Auteur</b> : 
            {% for auteur in livre.auteurs %}
                {% if auteur.prenom %}{{auteur.prenom}} {% endif %}{{auteur.nom}}
            {% endfor %}
        <br/><b>Catégorie</b> : 
            {% for categorie in livre.categories %}
                {{categorie.nom}}
            {% endfor %}
        </p>
        <a href="/livre/{{livre.id}}" class="btn btn-primary">Détails</a>
        
        {% if is_granted("ROLE_CONFIRME") %}
            {% if livre.estDisponible %}
                <a href="/compte/emprunter/{{livre.id}}" class="btn btn-primary">Emprunter</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-footer">
        <small class="text-muted">Ajouté à Bouquins le {{ livre.dateAjout|date("d/m/Y") }}</small>
    </div>
</div>