{% block header %}
    <header>
        <section class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    Bouquins
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/livres/">Les livres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auteurs/">Les auteurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/">Les catégories</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mon compte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/compte/meslivres">Mes livres</a>
                                    <a class="dropdown-item" href="/compte/mesemprunts">Mes emprunts</a>
                                    <a class="dropdown-item" href="/compte/mesprets">Mes prêts</a>
                                    <a class="dropdown-item" href="/logout">Deconnexion</a>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="row">
                {% if layoutHeader2 is defined %}
                    <div class="col col-11 col-md-4 layoutHeader2">
                    </div>
                    <div class="col col-11 col-md-8 layoutHeader2">
                        <h1>{{ headerh1 }}</h1>
                    </div>
                {% else %}
                    <div class="col col-11 
                    {% if displayLoginForm is defined %}
                        {% if app.user %}col-md-11{% else %}col-md-8{% endif %}
                        
                    {% else %}
                        col-md-11
                    {% endif %}">
                        {% if headerh1 is defined %}
                            <h1>{{ headerh1 }}</h1>
                        {% endif %}
                        {% if headerh5 is defined or headerp is defined %}
                            <article>
                                {% if headerh5 is defined %}
                                    <h5>{{headerh5}}</h5>
                                {% endif %}
                                {% if app.user or isAccueil is defined %}
                                    {% if headerp is defined %}
                                        <p>{{headerp}}</p>
                                    {% endif %}
                                    {% if headerbtntext is defined %}
                                        <a class="btn btn-primary" href="{% if headerbtnlink is defined %}{{ headerbtnlink }}{% endif %}" role="button">{{ headerbtntext }}</a>
                                    {% endif %}
                                {% endif %}
                            </article>
                        {% endif %}
                    </div>
                    {% if displayLoginForm is defined %}
                        {% if app.user %}{% else %}
                            <div class="col col-12 col-md-4">

                                {# formulaire de connexion #}
                                <form method="post" id="hpLogin">
                                    <h5>Connexion</h5>

                                    {# si l'utilisateur est déjà connecté #}
                                    {% if app.user %}
                                        <div class="alert alert-primary">
                                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                        </div>
                                    {% endif %}

                                    {# si une erreur survient #}
                                    {% if login_error() %}
                                        <div class="alert alert-danger">{{ login_error().messageKey|trans(login_error().messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if not app.user %}
                                        <div class="form-group">
                                            <input class="form-control" type="email" value="{{ last_username ?? '' }}" name="loginEmail" id="inputEmail" placeholder="Identifiant" required autofocus>
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" type="password" name="loginPassword" id="inputPassword" placeholder ="Mot de passe" required>
                                        </div>

                                        {# un champ caché pour la protection des failles CSRF #}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                        <input type="submit" class="btn btn-primary" role="button" value="Connexion">
                                    {% endif %}
                                </form>
                                
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </section>
    </header>
{% endblock %}